In [1]:
import numpy as np
from osgeo import gdal
import os
import pandas as pd

In [2]:
# ds = gdal.Open("2012-01-01_2012-06-01__NDVI_1.tif")
# myarray = np.array(ds.GetRasterBand(1).ReadAsArray())
#np.nanmean(myarray)
#x=np.interp(myarray, (np.nanmin(myarray), np.nanmax(myarray)), (0, +1))
#np.nanmean(arster_interp)

In [3]:
tiff_directory = "/home/gayan/Desktop/dengai/Data/Satellite/raster/satellite_2012-01-01_2012_06_01"

In [6]:
satellite_stat = []
for filename in os.listdir(tiff_directory):
    if filename.endswith(".tif"): 
        file_abs = os.path.join(tiff_directory, filename)
        region_id = filename.split('_')[-1].split('.')[0]
        ds = gdal.Open(file_abs)
        raster_array = np.array(ds.GetRasterBand(1).ReadAsArray())
#         raster_interp = np.interp(raster_array, (np.nanmin(raster_array), np.nanmax(raster_array)), (0, +1))
        satellite_stat.append({'REGION_ID':region_id, 'NDVI_MEAN':np.nanmean(raster_array),'NDVI_STD':np.nanstd(raster_array),'NDVI_MIN':np.nanmin(raster_array),'NDVI_MAX':np.nanmax(raster_array)})
        continue
    else:
        continue
satellite_stat_df = pd.DataFrame(satellite_stat)

In [5]:
satellite_stat_df

    region_id      mean       std       min       max
0         331  0.381210  0.092556 -0.164557  0.581699
1         185  0.356497  0.117296 -0.407407  0.606218
2         299  0.324219  0.102629 -0.211618  0.556757
3         128  0.321025  0.124652 -0.433962  0.567568
4         130  0.396566  0.097497 -0.454545  0.626866
..        ...       ...       ...       ...       ...
328         1  0.177480  0.176454 -0.301493  0.527273
329       237  0.364169  0.091855 -0.116998  0.620253
330       329  0.352566  0.089681 -0.393939  0.620253
331       268  0.334869  0.120585 -0.133333  0.600000
332       176  0.359685  0.097143 -0.201754  0.563910

[333 rows x 5 columns]